/* Use a Flexbox to make the Palette/Diagram responsive */
#myFlexDiv {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}

@media (min-width: 768px) {
  #myGuests {
    width: 100px;
    height: 500px;
    margin-right: 10px;
  }
  #myDiagramDiv {
    height: 500px;
    flex: 1;
  }
}

@media (max-width: 767px) {
  #myGuests {
    width: 90%;
    height: 100px;
    margin-bottom: 10px;
  }
  #myDiagramDiv {
    width: 90%;
    height: 500px;
  }
}

/* ************ */
#homeBar {
  margin: 0px 0px 15px -15px;
}

#home .form-control + .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 27px;
}

#home .dropdown-menu {
  min-width: 80px;
}

#home .dropdown-submenu {
  position: relative;
}

#home .dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

#home span,i {
  color: #cf6515;
}

#home img {
  width: 30%;
}

#home .guestBlock {
  border: 1px solid #e6e6e6;
  padding: 5px;
  margin-bottom: 8px;
  margin-right: 0px;
  margin-left: 0px;
  box-shadow: 8px 8px 12px #aaa;
	cursor: pointer;
}

#home .guestInfoBlock {
  border: 1px solid #e6e6e6;
  padding: 5px;
  margin-bottom: 8px;
  margin-right: -10px;
  margin-left: 10px;
  box-shadow: 8px 8px 12px #aaa;
}

#home .guestInfoBlock img {
  width: 100%;
}

#home .form-group {
  margin-bottom: 10px;
}

#home .form-group input,textarea {
  margin-bottom: 3px;
  text-align: center;
}

#home .form-group label {
  margin-bottom: 0px;
  padding-top: 8px;
}

#home .nav-tabs > li.active > a {
  color: #cf6515;
}
