#howitwork .jumbotron {
  margin-bottom: 0px;
}

#howitwork .thumbnail {
  text-align: center;
  border: 0px;
}

#howitwork img {
  max-width: 100%;
}

#howitwork h4 {
  font-weight: bold;
}

#howitwork span {
  color: #cf6515;
}

#howitwork div .icon {
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  float: left;
  position: absolute;
}

#howitwork div .icon.icon_evt {
  background-image: url(../images/ourServices2.png);
  left: 25%;
}

#howitwork div .icon.icon_room {
  background-image: url(../images/ourServices2.png);
  left: 33%;
}

#howitwork div .icon.icon_country {
  background-image: url(../images/ourServices2.png);
  left: 35%;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 1000px) {
  #howitwork div .icon.icon_evt {
    left: 37%;
  }

  #howitwork div .icon.icon_room {
    left: 37%;
  }

  #howitwork div .icon.icon_country {
    left: 37%;
  }
}
