.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*body {
  font-family: "Lato",Arial,Helvetica,sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.5;
  color: #6b6b6b;
  min-height: 650px;
  padding-top: 70px;
}*/
body {
  font-size: 10px;
  font-family: Arial,Helvetica,sans-serif;
}

.form-signin {
  max-width: 300px;
}
.form-signin-login {
  margin: 60px auto 40px 6px;
}
.form-signin input {
  font-size: 14px;
  text-align: center;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-signin button {
  width: 100%;
  border-color: #cf6515;
  background-color: #cf6515;
}

.form-signin button.cancel {
  margin-bottom: 10px;
  border-color: #337ab7;
  background-color: #337ab7;
}

.form-signin div {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.form-signin div.radio {
  text-align: left;
}

.form-signin a {
  color: #cf6515;
  cursor: pointer;
}

.css-form input.ng-invalid.ng-touched {
  border-style: solid;
  border-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
  /*border-color: #78FA89;*/
}

#myCarousel {
  top: -18px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
}

/* ************************************ */
/*h1 {
  font-size: 2em;
  margin: .67em 0;
}*/
/*
.title, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  margin: .5em 0;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Playfair Display",Georgia,"Times New Roman",serif;
  letter-spacing: .2px;
}*/

.title_level_1 {
  font-size: 52px;
}

.title_level_2 {
  font-size: 40px;
}

.basic {
  padding: 93px 0 98px;
  text-align: center;
}

.basic__title {
  margin-top: 0;
  margin-bottom: 13px;
  font-family: "Playfair Display",Georgia,"Times New Roman",serif;
  letter-spacing: .2px;
}

.basic__title.without-text {
  margin-bottom: 48px;
}

@media screen and (max-width: 780px) {
  .basic__list {
    margin: 0 auto;
    white-space: normal;
    width: 90%;
  }
}

.basic__list {
  clear: both;
  white-space: nowrap;
}

.basic__item {
  letter-spacing: .15px;
  white-space: normal;
  width: 23%;
  display: inline-block;
  vertical-align: top;
  margin-right: 1.69492%;
}

.basic__image-wrap {
  margin-bottom: 21px;
  position: relative;
}

.basic__item-title {
  font-weight: 700;
  margin-bottom: 5px;
}

.big__title {
  margin: 0 0 25px;
  font-family: "Playfair Display",Georgia,"Times New Roman",serif;
  letter-spacing: .2px;
}

.big__title_top_big {
  margin-top: 120px;
}

.big__desc {
  letter-spacing: .2px;
}

.big__side {
  width: 42.878%;
  float: left;
  margin-right: 1.69492%;
}

.big_variant_2 {
  padding-top: 93px;
  padding-bottom: 37px;
}

.big_variant_2 .big__side {
  width: 44.678%;
}

.big_variant_3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.big_variant_3 .big__side.big__side_right {
  width: 70%;
}

.big__side_2 {
  width: 20%;
  float: left;
  margin-right: 1.69492%;
}

.big__imac-wrap {
  text-align: right;
}

.big__side.big__side_right {
  width: 53%;
  float: right;
  margin-right: -10px;
}

.big_variant_2 .big__side.big__side_right {
  width: 53%;
  float: right;
  margin-right: 0;
}

@media screen and (max-width: 1180px) {
  .big__side {
    float: none;
    margin-right: 0;
    padding: 0 20px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .big__side.big__side_right {
      float: none;
      margin: 0 auto;
      width: 100%;
  }

  .big_variant_2 .big__side {
    width: 100%;
  }

  .big__imac-wrap {
    text-align: center;
  }

  .big_variant_2 .big__side.big__side_right {
      float: none;
      margin-right: 0;
      width: 100%;
  }
}


a, abbr, acronym, address, applet, b, big, blockquote, body, button, caption, center, cite, code, dd, del, dfn, div, dl,
dt, em, fieldset, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li,
nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead,
title, tr, tt, u, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 184px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}
.dropdown-content a {
  color: #C55A11;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font:normal normal normal 13px/1.4em brandon-grot-w01-light,sans-serif;
}
.dropdown-content a:hover {
  color: #333333;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  color: #3333333;
}

.menu-buttonitemsContainer {width:calc(100% - 0px);height:calc(100% - 0px);white-space:nowrap;display:inline-block;overflow:visible;position:relative;}
.menu-buttonmoreContainer {overflow:visible;display:inherit;white-space:nowrap;width:auto;background-color:rgba(255, 255, 255, 1);border-radius:0;  }
.menu-buttondropWrapper {z-index:99999;display:block;opacity:1;visibility:hidden;position:absolute;margin-top:7px;}
.menu-buttondropWrapper[data-dropMode="dropUp"] {margin-top:0;margin-bottom:7px;}
.menu-buttonrepeaterButton {height:100%;position:relative;box-sizing:border-box;display:inline-block;cursor:pointer;font:normal normal normal 13px/1.4em brandon-grot-w01-light,sans-serif;}
.menu-buttonrepeaterButton[data-state~="header"] a,.menu-buttonrepeaterButton[data-state~="header"] div {cursor:default !important;}
.menu-buttonrepeaterButtonlinkElement {display:inline-block;height:100%;width:100%;}
.menu-buttonrepeaterButton_gapper {padding:0 5px;}
.menu-buttonrepeaterButtonlabel {display:inline-block;color:#C55A11;transition:color 0.4s ease 0s;}
.menu-buttonrepeaterButton[data-state~="drop"] {width:100%;display:block;}
.menu-buttonrepeaterButton[data-state~="drop"] .menu-buttonrepeaterButtonlabel {padding:0 .5em;}
.menu-buttonrepeaterButton[data-state~="hover"] .menu-buttonrepeaterButtonlabel,.menu-buttonrepeaterButton[data-preview~="hover"] .menu-buttonrepeaterButtonlabel {color:#333333;transition:color 0.4s ease 0s;}
.menu-buttonrepeaterButton[data-state~="selected"] .menu-buttonrepeaterButtonlabel,.menu-buttonrepeaterButton[data-preview~="active"] .menu-buttonrepeaterButtonlabel {color:#333333;transition:color 0.4s ease 0s;}

.home-button button.home-button-link {width:100%;}
.home-button[data-state~="shouldUseFlex"] .home-button-link,.home-button[data-state~="shouldUseFlex"] {text-align:initial;display:flex;align-items:center;}
.home-button[data-state~="shouldUseFlex"][data-state~="center"] .home-button-link,.home-button[data-state~="shouldUseFlex"][data-state~="center"] {justify-content:center;}
.home-button[data-state~="shouldUseFlex"][data-state~="left"] .home-button-link,.home-button[data-state~="shouldUseFlex"][data-state~="left"] {justify-content:flex-start;}
.home-button[data-state~="shouldUseFlex"][data-state~="right"] .home-button-link,.home-button[data-state~="shouldUseFlex"][data-state~="right"] {justify-content:flex-end;}
.home-button-link {border-radius:0; position:absolute;top:0;right:0;bottom:0;left:0;transition:border-color 0.4s ease 0s, background-color 0.4s ease 0s;  }
.home-button-label {font:normal normal normal 16px/1.4em brandon-grot-w01-light,sans-serif; transition:color 0.4s ease 0s; color:#FBFBFB;display:inline-block;margin:calc(-1 * 1px) 1px 0;position:relative;white-space:nowrap;}
.home-button[data-state~="shouldUseFlex"] .home-button-label {margin:0;}
.home-button[data-disabled="false"] .home-button-link {background-color:rgba(197, 90, 17, 1);border:solid rgba(251, 251, 251, 1) 1px;cursor:pointer !important;}
.home-button[data-disabled="false"]:active[data-state~="mobile"] .home-button-link,.home-button[data-disabled="false"]:hover[data-state~="desktop"] .home-button-link,.home-button[data-disabled="false"][data-preview~="hover"] .home-button-link {background-color:rgba(251, 251, 251, 1);border-color:rgba(251, 251, 251, 1);}
.home-button[data-disabled="false"]:active[data-state~="mobile"] .home-button-label,.home-button[data-disabled="false"]:hover[data-state~="desktop"] .home-button-label,.home-button[data-disabled="false"][data-preview~="hover"] .home-button-label {color:#C55A11;}
.home-button[data-disabled="true"] .home-button-link,.home-button[data-preview~="disabled"] .home-button-link {background-color:rgba(204, 204, 204, 1);border-color:rgba(204, 204, 204, 1);}
.home-button[data-disabled="true"] .home-button-label,.home-button[data-preview~="disabled"] .home-button-label {color:#FFFFFF;}

.font_3 {
  font: normal normal normal 60px/1.4em 'eb garamond',serif;
  color: #333333;
}

.font_4 {
  font: normal normal normal 40px/1.4em 'eb garamond',serif;
  color: #333333;
}

.font_5 {
  font: normal normal normal 30px/1.4em brandon-grot-w01-light,sans-serif;
  color: #C55A11;
}

.font_6 {
  font: normal normal normal 22px/1.4em 'eb garamond',serif;
  color: #C55A11;
}

.font_8 {
  font: normal normal normal 16px/1.4em brandon-grot-w01-light,sans-serif;
  color: #333333;
}

.block-title {
  letter-spacing: 0.43em !important;
  font-family: brandon-grot-w01-light,sans-serif;
}

.txtNew h4 {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}

.txtNew h5 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

.Anchor_1 {
  visibility: hidden;
  pointer-events: none;
  width: 0 !important;
}

.comp-space-medium {
  margin: 0px 0px 80px 0px;
  height:20px;
}

.comp-space-large {
  margin: 0px 0px 50px 0px;
  pointer-events: none;
  text-align: center;
}

.strc1:not([data-mobile-responsive]) > .strc1inlineContent {
  position:absolute;
  top:0;right:0;bottom:0;left:0;
}

.strc1[data-mobile-responsive] > .strc1inlineContent {
  position:relative;
}

.strc1[data-responsive] {
  display:-ms-grid;
  display:grid;
  justify-content:center;
  grid-template-columns:100%;
  grid-template-rows:1fr;
  -ms-grid-columns:100%;
  -ms-grid-rows:1fr;
}

.strc1[data-responsive] > .strc1inlineContent {
  display:flex;
}

.strc1[data-responsive] > * {
  position:relative;
  grid-row-start:1;
  grid-column-start:1;
  grid-row-end:2;
  grid-column-end:2;
  -ms-grid-row-span:1;
  -ms-grid-column-span:1;
  margin:0 auto;
}

.comp-content {
  position:relative;
  min-width:168px;
  width:100%;
  left:0; top:0;
  flex:168;
  margin-left:50px;
  display:flex;
}

.comp-inlineContent {
  height: auto;
  width: 100%;
  position: relative;
  top:0;bottom:0
}

.comp-inlineContent-gridContainer {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 570px;
  grid-template-rows: min-content min-content min-content 1fr;
  grid-template-columns: 100%;
}

.comp-inlineContent-gridContainer > * {
  pointer-events: initial;
}

.comp-title {
  margin: 77px 0px 43px 0px;
  font-size: 27px;
  text-align: center;
  color: #000000;
  letter-spacing:0.43em;
  pointer-events: auto;
}

.comp-icon {
  position: relative;
  margin: 0px 0px 40px 0px;
  left: 25%;
  width:50%; height:65px;
}

.comp-icon svg [data-color="1"] {
  fill: rgba(197, 90, 17, 1);
}

.comp-icon svg {
  position:absolute;
  top:0;right:0;bottom:0;left:0;
  width:100%;height:100%;
  margin:auto;
}

.comp-desc {
  position: relative;
  margin: 0px 0px 45px calc((100% - 168px) * 0.5);
  left: -31px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
  width: 250px;
  min-height: 132px;
  pointer-events: auto;
}

.link {
  position:absolute;
  top:0;right:0;bottom:0;left:0;
}

.label {
  font:normal normal normal 16px/1.4em brandon-grot-w01-light,sans-serif;
  transition:color 0.4s ease 0s;
  color:#C55A11;
  white-space:nowrap;
  display:inline-block;
}

.divlink {
  position: relative;
  margin: 0px 0px 10px calc((100% - 168px) * 0.5);
  left: 21px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
  text-align: center;
  height: 49px; min-height: 22px; width: 126px;
}

.divlink button.link {
  width:100%;
}

.comp-ul-inlineContent {
  display: flex;
  justify-content:
  flex-start;
  position: relative;
  flex-wrap: wrap;
  margin: 0px;
  pointer-events: initial;
  list-style:none !important;
}

@media screen and (max-width: 2171px) {
  .comp-ul-inlineContent:after {
    width: NaNpx;
    display: block;
  }
}

@media screen and (min-width: 2171px) {
  .comp-ul-inlineContent:after {
    width: 1191px;
    display: block;
  }
}

.comp-ul-inlineContent > li {
  margin: 0px 0px;
}

.comp-ul-inlineContent:after {
  content: ' ';
  visibility: hidden;
  height: 0;
  margin: 0;
}

.comp-plan {
  display: flex;
}

.comp-plan-inlineContent {
  pointer-events: auto;
  background-color: rgb(251, 251, 251);
  height: auto;
  width: 1070px;
  position: relative;
}

.comp-plan-inlineContent-gridContainer {
  display: grid;
}

.comp-plan-inlineContent-gridContainer > * {
  pointer-events: initial;
}

.comp-plan-left {
  position: relative;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}

.comp-plan-left-bg {position:absolute;top:0;right:0;bottom:200px;left:0;background:rgba(197, 90, 17, 1);}
.comp-plan-left b {position:absolute;top:0;right:0;bottom:0;left:0;display:block;overflow:hidden;}
.comp-plan-left b:after,.comp-plan-left b:before {position:absolute;content:"";border-style:solid;transform:rotate(360deg);bottom:0;}
.comp-plan-left b:after {border-width:0 500px 200px 0;border-color:transparent rgba(197, 90, 17, 1) transparent transparent;right:50%;}
.comp-plan-left b:before {border-width:0 0 200px 500px;border-color:transparent transparent transparent rgba(197, 90, 17, 1);left:50%;right:0;}

.comp-plan-left-inlineContent {
  height: auto;
  width: 163px;
  min-height: 150px;
  position: relative;
  margin: 81px 0px 0px 0px;
}

.comp-plan-left-label {
  font-size: 40px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.43em;
  font-family: brandon-grot-w01-light,sans-serif;
}

.comp-plan-right-line1 {
  position: relative;
  margin: 17px 0px 17px 0;
  left: 40%;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}

.comp-plan-right-label {
  text-align:center;
  color:#000000;
  letter-spacing:0.43em;
}

.comp-plan-right-line2 {
  position: relative;
  margin: 0px 0px 10px 0;
  width: 70%;
  left: 25%;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}

.comp-iframe {
  overflow:hidden;
  height: 636px;
  width: 100%;
  min-height: 636px;
  min-width: initial;
  margin-left: 0px;
}

.comp-iframe iframe {
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
}

.sb-description {
  background-color: rgb(255, 255, 255);
  padding: 20px 0 20px 0;
}

.sb-description > h3 {
  color: rgb(197, 90, 17);
  font-size: 18px;
}

.color_11 {
  color: #FFFFFF;
}
.color_12 {
  color: #FBFBFB;
}
.color_18 {
  color: #C55A11;
}

.comp-button {
  position: relative;
  margin: 0px 0px 10px calc((100% - 306px) * 0.5);
  left: 20px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}

.comp-button button.comp-button-link {
  width:100%;
}
.comp-button[data-state~="shouldUseFlex"] .comp-button-link,.comp-button[data-state~="shouldUseFlex"] {
  text-align:initial;
  display:flex;
  align-items:center;
}
.comp-button[data-state~="shouldUseFlex"][data-state~="center"] .comp-button-link,.comp-button[data-state~="shouldUseFlex"][data-state~="center"] {
  justify-content:center;
}
.comp-button[data-state~="shouldUseFlex"][data-state~="left"] .comp-button-link,.comp-button[data-state~="shouldUseFlex"][data-state~="left"] {
  justify-content:flex-start;
}
.comp-button[data-state~="shouldUseFlex"][data-state~="right"] .comp-button-link,.comp-button[data-state~="shouldUseFlex"][data-state~="right"] {
  justify-content:flex-end;
}
.comp-button-link {
  border-radius:0;
  position:absolute;
  top:0;right:0;bottom:0;left:0;
  transition:border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}
.comp-button-label {
  font:normal normal normal 16px/1.4em brandon-grot-w01-light,sans-serif;
  transition:color 0.4s ease 0s;
  color:#FBFBFB;
  display:inline-block;
  margin:calc(-1 * 1px) 1px 0;
  position:relative;
  white-space:nowrap;
}
.comp-button[data-state~="shouldUseFlex"] .comp-button-label {
  margin:0;
}
.comp-button[data-disabled="false"] .comp-button-link {
  background-color:rgba(197, 90, 17, 1);
  border:solid rgba(251, 251, 251, 1) 1px;
  cursor:pointer !important;
}
.comp-button[data-disabled="false"]:active[data-state~="mobile"] .comp-button-link,.comp-button[data-disabled="false"]:hover[data-state~="desktop"]
.comp-button-link,.comp-button[data-disabled="false"][data-preview~="hover"] .comp-button-link {
  background-color:rgba(251, 251, 251, 1);
  border-color:rgba(251, 251, 251, 1);
}
.comp-button[data-disabled="false"]:active[data-state~="mobile"] .comp-button-label,.comp-button[data-disabled="false"]:hover[data-state~="desktop"]
.comp-button-label,.comp-button[data-disabled="false"][data-preview~="hover"] .comp-button-label {
  color:#C55A11;
}
.comp-button[data-disabled="true"] .comp-button-link,.comp-button[data-preview~="disabled"] .comp-button-link {
  background-color:rgba(204, 204, 204, 1);
  border-color:rgba(204, 204, 204, 1);
}
.comp-button[data-disabled="true"] .comp-button-label,.comp-button[data-preview~="disabled"] .comp-button-label {
  color:#FFFFFF;
}
