
#myspace span {
  color: #cf6515;
}

#myspace img {
  width: 100%;
}

#myspace .eventBlock {
  border: 1px solid #e6e6e6;
  padding: 5px;
  margin-bottom: 8px;
  margin-right: 0px;
  margin-left: 0px;
  box-shadow: 8px 8px 12px #aaa;
}

#myspace tr {
	cursor: pointer;
}

#eventTable th, #eventTable td {
  text-align:center;
  vertical-align:middle;
}
