
#ourservices span {
  color: #cf6515;
}

#ourservices img {
  width: "150px";
  max-width: 100%;
  height: auto;
}

#ourservices .row {
  margin-bottom: 50px;
}

#ourservices .row h3 {
  color: #cf6515;
}
