<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>Seating chart</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!--<link rel="stylesheet" href="node_modules/@coreui/icons/css/coreui-icons.min.css" />-->
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/coreui-icons.min.css">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/howitwork.css">
    <link rel="stylesheet" href="styles/ourservices.css">
    <link rel="stylesheet" href="styles/contactus.css">
    <link rel="stylesheet" href="styles/aboutus.css">

    <link rel="stylesheet" href="styles/myspace.css">
    <link rel="stylesheet" href="styles/home.css">
    <!-- endbuild -->

    <script src="scripts/controllers/go.js"></script>
  </head>
  <body ng-app="mscApp" ng-controller="ApplicationController">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header style="background-color: rgb(255, 255, 255);position:fixed;width:100%;z-index:50;height: 99px;">
      <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #fff; border-color: #fff;">
        <div class="">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div style="width:42px;position:absolute;margin-left: 83px;align-self: start;margin-top: 28px;">
              <a href="#" target="_self" style="cursor:pointer">
                <div style="fill-opacity:1;stroke-width:0;stroke:rgba(197, 90, 17, 1);stroke-opacity:1;fill:#C55A11">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0.033872246742248535 -0.08066844940185547 110.60136413574219 115.20669555664062"
                       role="img" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;">
                    <g>
                      <path d="M47.8 3.3C46.3.9 43 4.4 45.7 6c1 .6 2.6.9 3.5-.1.7-1 .5-2.3-.4-3l-.1-.1c-1.3-.7-2.8-.4-3.8.6-1.1 1.2-.6 2.3.5 3.2s2.7 1.4 3.9.5c1-.9 1.3-2.3.7-3.5-.9-2.2-4.3-3.3-6.1-1.4C41.3 5 45 8.6 47.6 9.4c3.3 1 5.3-2.4 4.1-5.2s-4.3-5.1-7.3-4c-3.9 1.5-2.4 5.9-.3 8.3 1 1.2 2.7 2.4 4.3 1.7 1.3-.5 1.9-1.9 1.4-3.2 0-.1-.1-.2-.1-.2-.7-1.4-2.8-.2-2.1 1.2 0 0-1.4-.9-1.6-1.1-.3-.3-.5-.6-.7-.9-.5-.8-1.3-2.1-.8-2.9 1.2-2.1 4 .2 4.7 1.5.5.9.6 2.8-1 2.3-1-.3-1.9-1-2.5-1.8-.8-1.3.6-1.8 1.5-1.1.4.2.6.6.6 1-.2.4-1.3-.6-1.3-.8l.1.9c.4-.1.6-.4.6-.8.3-.8 0-.7-1 .4l-.7-.6.1.2c.9 1.5 3 .3 2.2-1z"></path>
                      <path d="M70.9 7.9c-2.5-1.6-4.5 2.5-1.8 3.6s4.1-2.6 2.2-4.3c-1.1-1-2.8-.9-3.8.3-.6.7-.8 1.5-.6 2.4.4 2.6 3.7 3.3 5.5 1.6 2.2-2.1.8-4.9-1.8-5.6-2.4-.6-5.6.7-5.2 3.6.3 2.5 3.8 4.9 6.2 4.1s3-4 1.8-6.1c-1.6-2.8-4.8-3.8-7.2-1.3-1.1 1-1.3 2.6-.7 3.9.6 1.3 2 1.9 3.4 1.5.6-.2 1-.9.8-1.5-.2-.6-.8-1-1.4-.8-.5.2-.7-.4-.6-.8.2-.5.5-.9.9-1.1.9-.5 1.6-.1 2.2.6.7.6.9 1.5.7 2.4-.4 1.1-1.3 1-2.2.4-.6-.4-1.8-1.3-1.5-2.1s2.2-.8 2.8-.2c.3.4.3.9-.1 1.2-.2.2-.6.3-.8.2-.3 0-.6-.3-.5-.7.4-1 .6 1 .3.8 1.5.9 2.7-1.2 1.4-2.1z"></path>
                      <path d="M43.1 29.1c.3-1.4.5-3.1-.4-4.4-1.1-1.3-2.9-1.5-4.3-.5-1.2.8-2.7 2.2-2.5 3.7.2 1.7 2.5 3 3.8 3.9 3.3 2.3 5.5-3.7 3.1-5.9-2.8-2.5-6.7 1.9-3.6 3.9s5.2-3.8 1.5-4c-3.9-.3-3.2 5.5-.3 6.5 1.6.6 2.8-.7 3.1-2.2.4-1.7.8-4.3-.1-5.9s-2.9-1.8-4.5-1.7c-1.6 0-3.1 1-3.6 2.6-.7 2.1.3 4 1.7 5.5 1.1 1.2 2.9 3.1 4.7 1.9 1.5-1.1 1.2-3.8 1.1-5.4-.2-1.9-2-2.9-3.6-1.7-1.2 1 .5 2.7 1.7 1.7l.2-.2-.9.4v2.8c0 .3-.2.4-.5-.1-1-.7-1.8-1.8-2.2-3-.3-1.7 1.3-2.3 2.8-1.8s1 2.2.9 3.4c-.3 2.9-1.3-1-.5-1 1.1-.1.6 2 .1 2.3.4-.1.3-.2-.2-.4l-.8-.5c-.5-.3-.9-.6-1.3-1-.2-.5.5-1 .8-1.3 1.7-1.3 1.6.7 1.3 1.9-.3 1.5 2 2.2 2.4.6l.1-.1z"></path>
                      <path d="M86.6 35c-.4-1.1-.4-2.2-1.6-2.7-.9-.4-1.9.1-2.2 1v.1c-.8 2.3 1.3 4.7 3.3 5.4.5.1 1.1-.1 1.4-.6 1.6-2.7-1-8.9-4.6-6.4-3.1 2.1-.7 8.6 2.9 8.6 4.8 0 3.4-6.8 1.3-9.1-1.3-1.5-3.5-1.7-5-.4-1.4 1.3-2.5 3.6-1.8 5.5s3.3 3.8 5.2 3.2c2.4-.8 2.4-3.5 2-5.5-.3-1.6-2.7-.9-2.4.6.2.9.6 2.9-1 2.2-1.1-.4-1.7-1.5-1.3-2.6 0-.1.1-.1.1-.2.5-1.1 1.4-2.1 2.5-1 .6.7 1 1.6 1.2 2.5.2.7.3 2.8-1 2.4-.6-.4-1-1-1.2-1.7-.3-.5-.4-1.2-.4-1.8.3-.8.7-.5 1-.1.6.8.8 1.8.4 2.7l1.4-.6c-.7-.2-2.1-1.5-1.5-2.3l-.7.6c-.6.2-.4.5-.2 1 .6 1.3 3 .7 2.2-.8z"></path>
                      <path d="M42.4 49.7c-.9-.6-2.1-.3-2.7.6-.1.1-.2.3-.2.5-.4 1.5 1.1 2.7 2.5 2.6 3.1-.3 3-5.1-.1-5.4s-3.9 4.5-.8 5.3c2.7.7 6.7-2.2 4-4.8-2-1.9-6.9-.8-7.7 2-1 3.6 3.7 4.2 6.1 3.6 1.3-.3 3-1.1 3.2-2.6s-1.2-2.7-2.6-3.2c-2.8-1.1-7-.1-7 3.6s5.4 4.3 7.7 2.3c1.2-.9 1.4-2.6.5-3.8-.1-.1-.2-.3-.3-.4-1.4-1.3-3.3-.7-4.8 0s-.2 2.8 1.2 2.1c.3-.1 1.5-.7 1.8-.4.6.6-.8.9-1.1.9-.7.1-2.2.3-2.5-.5-.5-1.2 1.1-1.9 1.9-1.9.5 0 1 .1 1.4.3.3.1.6.2.8.4.4.2.4.3.2.2-.1.3-1.4.6-1.7.6-.5.1-.9.1-1.4.1-.5 0-1.3 0-1.3-.7s1-.8 1.4-.9c.4-.1.8-.2 1.2-.1.3 0 .6 0 .9.1.2.3 0 .4-.3.5-.3.2-1.3.5-1.5 0 0-.2.1-.3.3-.2.3.5.1.9-.7 1.4 1.7.9 2.9-1.3 1.6-2.2z"></path>
                      <path d="M94.5 60.9c-1-1.2-2.8-1.3-3.9-.3l-.2.2c-.5.5-.5 1.3 0 1.8.1.1.3.2.5.3 1.1.4 2 1.3 3.3.8 1.1-.5 1.7-1.7 1.4-2.9-.6-2.6-4.5-2.7-5.9-.8-1.9 2.5 1.8 4.9 4.1 4.7 2.5-.3 4.3-3.1 2.9-5.4s-4.5-2-6.2-.5c-2.2 1.9-2 5.1.7 6.4 1.9.9 5 1.1 6.3-1 .7-1.2.4-2.8.2-4.1-.2-1.4-1.1-2.6-2.4-3.2-3-1.2-6 1.1-6.2 4.1-.2 1.6.3 3.2 1.3 4.4.8 1 2.4 1.2 3.4.4l.3-.3c1-1.2-.8-3-1.7-1.7-.2.2-.8-1.7-.8-1.8-.1-.7 0-1.3.3-1.9.6-1 2.2-1.5 3-.5.6.8 1.1 3.2 0 3.6-1.2.3-2.4 0-3.3-.8-.8-1.1.8-2.3 1.8-2.4 1.1-.1 1.8 1 .9 1.9-.6.4-1.3.4-1.9 0-.6-.4-.9-.6-.1-.8.4 0 .8 0 1.2.1-.5-.4-1.1-.7-1.8-.9l.5 2.1c.3-.3.4-.1.6.1 1 1.3 2.7-.4 1.7-1.6z"></path>
                      <path d="M106.4 77.2c-.9-.6-2.1-.4-2.7.5-.2.3-.4.7-.3 1.2 0 .7.6 1.2 1.3 1.2h.3c1.4-.2 3.3.4 3.8-1.5.2-1.4-.7-2.7-2.1-2.9h-.1c-2.7-.3-6.4 4.6-2.4 5.3 1.7.4 3.5-.1 4.9-1.2 1.1-1.1 1.3-2.7.5-4-1.9-2.7-6.7-1.1-7.9 1.4-.7 1.3-.4 2.8.6 3.8 1.3 1.3 3.3 1.3 5 .9 1.4-.4 2.5-1 2.6-2.6.1-1.8-1-3.6-2.7-4.2-2.8-1.2-7.7 1.3-6.9 4.8s6.3 3.5 8.6 1.8c1.9-1.4 2.3-4 .9-5.9-.8-1.1-2-1.7-3.4-1.7-4-.2-7.6 3.7-6.6 7.7.1.4.4.7.9.9 2 .5 4.7.1 4.6-2.5-.1-1.6-2.5-1.6-2.5 0 0 .6-1.2.2-1.4.1l.9.9c-.3-1.4.2-2.8 1.3-3.6 1-.8 3.1-1.6 4.2-.4 1.6 1.6-.8 3.2-2.3 3.3-1.2 0-3.7-.5-2.1-2.1 1.1-1.1 3.1-1.4 3.9.1 1.1 1.9-3.6 2.2-3.5.4.1-1 2.3-1.8 3.1-1.6 1 .2 1 1 .2 1.5-.8.4-1.8.4-2.6.1l.6.7c-.2-.6 1.9-.9 1.3-1.5-.6-.2-1.2-.2-1.8 0l1.6 1.2V79l-.4.9-.4-.1c1.1.4 2.3-1.7 1-2.6z"></path>
                      <path d="M55.5 67.6c-1.5-.4-2.9.5-3.3 2-.2.7.2 1.3.9 1.5 1.8.4 4.2 0 4.1-2.3-.1-1.5-1.3-2.6-2.7-2.5-.4 0-.8.1-1.1.3-1.5.8-2.1 2.6-1.3 4.1.1.2.2.3.3.4 1 1.5 3.1 1.8 4.5.8.1 0 .1-.1.2-.1 3.8-2.9-.8-9.1-4.7-6.4-1.8 1.3-1.6 3.7-.7 5.5s2.4 4.1 4.7 3.5 2.5-3.8 1.9-5.6c-.8-2.2-3.1-3.6-5.5-3.1-1.6.2-.9 2.6.7 2.4 1.4-.1 2.6.9 2.7 2.3 0 .3 0 .6-.1.9-.3 1.4-1 .4-1.5-.3-.6-.7-.9-1.6-1-2.5 0-2.4 3.8-.3 2.3 1.3-.3.4-.8.5-1.2.2-.1-.1-.3-.2-.3-.4-.2-.7.4-.4.4-.8 0 .4-.7.1-.9 0l.8 1.6.3-.3c1.4.2 2-2.2.5-2.5z"></path>
                      <path d="M18 51.7c.3.7.2 1.5.9 2 .6.5 1.5.5 2.2.2 1.6-.8 1.8-3.2 1.6-4.7-.1-1.7-1.3-3.2-3-3.7-1.5-.5-3.1.2-3.8 1.6-1.3 3 2.4 7.6 5.5 5.6 3.6-2.2-1.6-7.5-3.8-4.7-.8 1-.7 2.4.3 3.3.4.3.8.5 1.2.5 2.1.2 3.2-1.9 2.7-3.7-.2-.7-.9-1-1.6-.8-.1 0-.2.1-.3.1-1.6.9-2.9 2.5-2.5 4.4.2 1.6 1.6 2.8 3.3 2.7 1.7-.3 3-1.7 3.1-3.4.2-1.9-1.1-3.7-2.5-5-1.1-1.3-2.8-1.8-4.5-1.5-1.7.6-2.6 2.3-2.2 4 .6 3.9 4.6 6.6 8.3 4.8 1.4-.7.2-2.8-1.2-2.1-1.6.6-3.3-.1-4.1-1.6-.4-.6-.6-1.3-.6-2.1.2-.9 1.1-.8 1.8-.4 1.1.6 2.5 2.1 2.5 3.4 0 .8-.9 2.1-1.5.9-.4-.9.7-1.6 1.3-2l-1.8-.7c-.1.7.2 1.3.8 1.6.1.2 0 .4-.3.4-.5-.1-.9-.4-1.1-.8-.5-.7-1.1-2.4.4-2.1 1.1.2 1.3 1.7 1.2 2.6 0 .3-.1.7-.2 1l.4.3c0-.5-.2-1-.4-1.4-.7-1.4-2.8-.2-2.1 1.2v.1z"></path>
                      <path d="M7 57.9c1.2-2.2-.2-5.4-3-5.4-2 .1-3.5 1.8-3.3 3.8 0 .7.3 1.4.7 1.9 1.7 2.1 5.5 2.2 6.5-.6.6-1.5-.2-3.3-1.7-3.9-.7-.3-1.5-.3-2.2 0-2.6 1.2-1.5 5 1.2 5.3 2.8.3 4.5-3.1 3.3-5.4-1.2-2.2-3.8-3-6-1.8-.3 0-.4.1-.5.2-2.1 1.6-2.6 4.6-1.1 6.8 1.6 2.2 5.7 3.4 7.7.9 2.5-3-.8-6.2-3.2-7.7-.6-.3-1.3-.1-1.7.4-.3.6-.1 1.3.4 1.7 1.1.7 2.5 1.5 2.8 2.8s-1 1.9-2.2 1.6c-1.2-.2-2-1.2-2.2-2.4-.2-1 .5-2.1 1.6-2.4 1-.2 2 .5 2.2 1.5.1.6-.4 1.6-1.1 1.3-.9-.4.3-1 .4-.1.2 1.5-2.8 1-2.6-.5s2.5-.6 1.8.7 1.4 2.7 2.2 1.3z"></path>
                      <path d="M6.4 76c-1.1.2-2 1.2-2 2.3 0 .7.6 1.2 1.2 1.2 1.6-.1 3.4-.9 3.4-2.8 0-2.1-2.1-2.5-3.7-1.8S2.5 77 3.5 78.6s3.3 1.5 4.6.6c1.4-1 1.8-2.9.8-4.3l-.3-.3c-1.4-1.4-3.6-.8-5.2 0S.7 77.1 1.2 79s2.4 2.2 4.1 2c1.8-.2 3.9-.7 5.1-2.2 1.2-1.4.9-3.6-.5-4.7l-.1-.1c-2.8-2-8.8.1-9 3.8-.2 4.5 7.2 4.1 9 1.1.9-1.5.4-3.4-1.1-4.3-1.5-.8-3.4-.9-5-.2-2 .8-3.5 3-2.5 5.2.9 2 3.3 2.4 5.2 2.3s4-.9 4.8-2.9c.7-1.7-.1-3.7-1.8-4.5h-.1c-1.5-.6-2.1 1.8-.7 2.4.7.3.3 1.4 0 1.7-.6.4-1.4.7-2.2.7-1.3.1-4.4-.5-2.5-2.3.7-.6 3.3-1.4 3.8-.1.8 1.8-4.8 2.6-4.4.6.3-1.3 3.2-2.1 4.3-1.8 1.3.2 1.4 1.3.4 2-.7.4-1.4.7-2.2.7-.4.1-1.7.4-2.1 0-.8-.9 1-1.7 1.6-1.9.3-.1.6-.2.9-.2.9-.1.9.6.4 1-.2.2-.5.2-.8.2l.3-.2.4-.2c-.3-.1-.6-.1-.9 0l1.2 1.2.2.1c1.6-.2 1-2.6-.6-2.4z"></path>
                      <path d="M25.5 89.7c-2.3 2 1.1 5.4 3.2 3s-1.7-5.4-4.1-3.4c-1.1.8-1.4 2.4-.6 3.6 1.1 1.1 2.6 1.6 4.2 1.3 3.2-.5 3.6-4.6 1.2-6.3-1.9-1.5-4.7-1.2-6.2.7s-1.2 4.7.7 6.2c.8.7 1.9 1 3 .9 2.6-.3 4.6-2.6 4.3-5.2 0-.3-.1-.5-.1-.8-.9-2.7-3.7-4.1-6.4-3.2-.3.1-.5.2-.7.3-2.8 1.5-4.1 5.9-1.3 8.1 2.4 1.9 8.4 1.1 7-3-.5-1.5-2.9-.9-2.4.6s-2.9.9-3.5.1c-.6-1.1-.3-2.4.6-3.2 1.8-1.7 5.4 0 4.2 2.5-1.4 2.8-5.3.2-3.4-1.8.7-.8 2-1 2.8-.3l.3.3c.4.4.3 1-.1 1.4l-.1.1c-.5.1-1.1.1-1.6-.1-.8-.2-.6-.3.7-.1 1.2-1-.5-2.7-1.7-1.7z"></path>
                      <path d="M7.7 77.8c4.7-1.6 9.7-2.9 13.8-5.7.7-.4 0-1.5-.6-1.1-4 2.8-8.9 4-13.5 5.6-.8.2-.5 1.4.3 1.2z"></path>
                      <path d="M21.5 53s2-2.5 0-2.5c-1 .1-1 2.5 0 2.5z"></path>
                      <path d="M21.5 52.3c3.4 4.3 6.9 8.1 7.4 13.8.3 3.3.4 6.6.6 9.9.1.8 1.3.8 1.2 0-.3-4.1-.2-8.4-.9-12.5-.9-4.7-4.6-8.4-7.5-12.1-.4-.6-1.2.3-.8.9z"></path>
                      <path d="M5.5 59.3c4.9 4.5 9.8 9.1 15.3 12.8s12.1 5.7 17.8 9.4c10.9 7.3 22.3 11.4 35.6 10.8.3 0 .6-.4.5-.7 0-.3-.3-.5-.5-.5-6.3.3-12.5-.4-18.6-2.2-6.7-2-11.9-5.6-17.7-9.2-5.1-3.2-10.8-4.9-15.9-8.2-5.7-3.7-10.7-8.4-15.7-13-.3-.2-.7-.2-.9.1 0 .1 0 .5.1.7z"></path>
                      <path d="M55 73.6c2.3 3.1 3.2 12.2-.7 14.7-.3.2-.3.6-.1.9.2.2.5.3.7.2 2.2-1.5 2.7-3.9 2.9-6.4.3-3.5.3-7-1.8-9.9-.4-.8-1.4-.1-1 .5z"></path>
                      <path d="M59.2 90.2c-9 4-21.5 7.1-30.6 1.8-.3-.1-.7 0-.8.3-.1.3 0 .6.2.7 9.5 5.5 22.4 2.4 31.8-1.8.8-.3.2-1.3-.6-1z"></path>
                      <path d="M40.5 30.6c2.8 5 6.8 8.9 11.2 12.5 4 3.2 7.9 6.6 12.7 8.5.7.3 1.1-.9.3-1.2-5-1.9-9.1-5.6-13.2-9-4-3.1-7.4-7-10-11.4-.2-.3-.6-.3-.9-.1-.2.1-.2.4-.1.7z"></path>
                      <path d="M54.4 44.3c-4 2.5-8.2 4.6-12.5 6.5-.7.3-.1 1.4.6 1.1C46.8 50 51 47.8 55 45.4c.3-.2.3-.6.1-.9-.2-.2-.5-.3-.7-.2z"></path>
                      <path d="M103.2 80c-4.3 3.7-9.6 6.2-15.2 7-.8.1-.4 1.3.3 1.2 5.8-.9 11.3-3.4 15.8-7.3.6-.5-.3-1.4-.9-.9z"></path>
                      <path d="M93.7 64.4c1.1 12.9-6 26.9-17.4 33.2-.3.2-.3.6-.1.9.2.2.5.3.7.2 11.7-6.4 19.1-20.9 18-34.2 0-.9-1.2-.9-1.2-.1z"></path>
                      <path d="M82.9 39.3c-1.3 4-4.5 7.2-7.4 10.2-2.9 3-6 5.7-9.2 8.2-.6.5 0 1.6.6 1.1 3.7-2.9 7.2-6 10.4-9.4 2.7-2.9 5.6-5.9 6.8-9.8.1-.3-.2-.7-.5-.7-.4 0-.6.1-.7.4z"></path>
                      <path d="M69.6 13.2c.2 8.4-1.9 19.7-9.2 24.9-.6.5 0 1.5.6 1.1 7.7-5.5 10-17.1 9.8-25.9 0-.3-.4-.6-.7-.5-.2-.1-.4.1-.5.4z"></path>
                      <path d="M82 114.3c-2.5-8.4-5-16.7-7.6-25-3-9.7-6.8-19.5-7.6-29.6-.8-10.6-4.9-20.7-9.1-30.4-1.9-4.4-4.3-8.4-6.5-12.6-1.9-3.6-1-8.7-4.1-11.5-.2-.2-.6-.2-.8.1-.2.2-.2.5 0 .8 2.2 2 1.8 4.7 2.3 7.2.5 1.8 1.2 3.5 2.2 5.1 2.8 4.9 5.3 10 7.4 15.2 1.9 4.9 3.6 9.9 5.4 14.9 1.8 5.2 1.7 10.4 2.6 15.9 1.4 9 4.7 17.7 7.4 26.4 2.5 7.9 4.9 15.9 7.3 23.9.1.3.5.5.8.4.2-.2.4-.5.3-.8z"></path>
                    </g>
                  </svg>
                </div>
              </a>
            </div>
            <div data-align="center" data-disabled="false" data-margin="0" data-should-use-flex="true" data-width="147" data-height="42"
                 style="z-index: 50; visibility: inherit; height: 42px; min-height: 22px; width: 147px; margin-left: 130px; align-self: start; margin-top: 31px; position: absolute;"
                 class="home-button" data-state="desktop shouldUseFlex center">
              <a href="#" target="_self" class="home-button-link">
                <span class="home-button-label">EVENTYS</span>
              </a>
            </div>
          </div>
          <div id="navbar" class="navbar-collapse collapse" style="margin-right: 50px;">
            <ul class="nav navbar-nav navbar-right">
              <li data-direction="ltr" data-listposition="left" class="menu-buttonrepeaterButton dropdown"
                  data-state="menu idle link notMobile" data-original-gap-between-text-and-btn="11" aria-hidden="false"
                  style="height: 50px; position: relative; box-sizing: border-box; overflow: visible;">
                <a tabindex="0" href="#" target="_self" class="dropbtn">
                  <div class="menu-buttonrepeaterButton_gapper">
                    <div style="text-align:center">
                      <p style="text-align: center; line-height: 50px;" class="menu-buttonrepeaterButtonlabel">
                        Home
                      </p>
                    </div>
                  </div>
                </a>
                <div class="dropdown-content" style="margin-left:-35px;">
                  <a href="#!/howItWork#work">Notre engagement</a>
                  <a href="#!/howItWork#how">Comment ça marche</a>
                </div>
              </li>
              <li data-direction="ltr" data-listposition="center" class="menu-buttonrepeaterButton dropdown"
                  data-state="menu idle link notMobile" data-original-gap-between-text-and-btn="11" aria-hidden="false"
                  style="height: 50px; position: relative; box-sizing: border-box; overflow: visible;">
                <a tabindex="0" data-listposition="center" target="_self" href="#!/ourServices" class="dropbtn">
                  <div class="menu-buttonrepeaterButton_gapper">
                    <div style="text-align:center">
                      <p style="text-align: center; line-height: 50px;" class="menu-buttonrepeaterButtonlabel">
                        Offres et services
                      </p>
                    </div>
                  </div>
                </a>
                <div class="dropdown-content">
                  <a href="#!/ourServices#sites">Sites web & application</a>
                  <a href="#!/ourServices#tablets">Tablettes</a>
                  <a href="#!/ourServices#screens">Ecrans tactiles interactifs</a>
                  <a href="#!/ourServices#service">Service d'accueil</a>
                  <a href="#!/ourServices#shiny">Digilampes</a>
                </div>
              </li>
              <li data-direction="ltr" data-listposition="center" class="menu-buttonrepeaterButton"
                  data-state="menu idle link notMobile" data-original-gap-between-text-and-btn="11" aria-hidden="false"
                  style="height: 50px; position: relative; box-sizing: border-box; overflow: visible;">
                <a tabindex="0" data-listposition="center" href="#!/aboutUs" target="_self">
                  <div class="menu-buttonrepeaterButton_gapper">
                    <div style="text-align:center">
                      <p style="text-align: center; line-height: 50px;" class="menu-buttonrepeaterButtonlabel">
                        Á propos de nous
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              <li data-direction="ltr" data-listposition="center" class="menu-buttonrepeaterButton"
                  data-state="menu idle link notMobile" data-original-gap-between-text-and-btn="11" aria-hidden="false"
                  style="height: 50px; position: relative; box-sizing: border-box; overflow: visible;">
                <a tabindex="0" data-listposition="center" href="#!/contactUs" target="_self">
                  <div class="menu-buttonrepeaterButton_gapper">
                    <div style="text-align:center">
                      <p style="text-align: center; line-height: 50px;" class="menu-buttonrepeaterButtonlabel">
                        Nous contacter
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              <li ng-show="getStep()===flowSteps.login" data-direction="ltr" data-listposition="center" class="menu-buttonrepeaterButton"
                  data-state="menu idle link notMobile" data-original-gap-between-text-and-btn="11" aria-hidden="false"
                  style="height: 50px; position: relative; box-sizing: border-box; overflow: visible;">
                <a tabindex="0" data-listposition="center" href="#!/login" target="_self">
                  <div class="menu-buttonrepeaterButton_gapper">
                    <div style="text-align:center">
                      <p style="text-align: center; line-height: 50px;" class="menu-buttonrepeaterButtonlabel">
                        CONNEXION
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              <li ng-show="getStep()!==flowSteps.login" data-direction="ltr" data-listposition="center" class="menu-buttonrepeaterButton"
                  style="height: 50px; position: relative; box-sizing: border-box; overflow: visible;">
                <a tabindex="0" data-listposition="center" style="pointer-events: none; cursor: auto;">
                  <div class="menu-buttonrepeaterButton_gapper">
                    <div style="text-align:center">
                      <p style="text-align: center; line-height: 50px; color: black;" class="menu-buttonrepeaterButtonlabel">
                        {{currentUser.firstName}}
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              <li ng-show="getStep()!==flowSteps.login" data-direction="ltr" data-listposition="center" class="menu-buttonrepeaterButton"
                  data-state="menu idle link notMobile" data-original-gap-between-text-and-btn="11" aria-hidden="false"
                  style="margin-top:14px; height: 50px; position: relative; box-sizing: border-box; overflow: visible;">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-align-justify"></i></a>
                <ul class="dropdown-menu">
                  <li><a ng-href="#!/myprofil">Mon profil</a></li>
                  <li><a ng-href="#!/myActivities">Mes activités</a></li>
                  <li><a ng-href="#!/myspace">Mes évènements</a></li>
                  <li><a ng-href="#!/myInfra">Mes établissements</a></li>
                  <li><a ng-href="#!/myMessages">Mes messages</a></li>
                  <li><a ng-href="#!/myNetwork">Mon réseau</a></li>
                  <li><a ng-href="#!/myBills">Mes factures</a></li>
                  <li><a ng-href="#!/settings">Paramètres</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#" style="color: #cf6515;" ng-click="logout()">Déconnexion</a></li>
                  <!--
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>-->
                </ul>
              </li>
              <!--<li ng-show="step===flowSteps.login"><a href="#!/subscribe">CRÉER UN COMPTE</a></li>-->
              <!--<li id="userName" ng-show="getStep()!==flowSteps.login"><a>{{currentUser.firstName}}</a></li>-->
              <li id="userMenu" ng-show="getStep()!==flowSteps.login" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-align-justify"></i></a>
                <ul class="dropdown-menu">
                  <li><a ng-href="#!/myprofil">Mon profil</a></li>
                  <li><a ng-href="#!/myActivities">Mes activités</a></li>
                  <li><a ng-href="#!/myspace">Mes évènements</a></li>
                  <li><a ng-href="#!/myInfra">Mes établissements</a></li>
                  <li><a ng-href="#!/myMessages">Mes messages</a></li>
                  <li><a ng-href="#!/myNetwork">Mon réseau</a></li>
                  <li><a ng-href="#!/myBills">Mes factures</a></li>
                  <li><a ng-href="#!/settings">Paramètres</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#" style="color: #cf6515;" ng-click="logout()">Déconnexion</a></li>
                  <!--
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>-->
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div ng-view=""></div>

    <div login-dialog ng-if="step!==flowSteps.login"></div>

    <a style="position:fixed;bottom: 30px;right: -135px;margin:0;padding:5px 3px;" ng-click="toggleActionMenuButton()">
      <img src="../images/menuActionsButton.png" style="width:50%" alt="">
    </a>
    <a style="position:fixed;bottom:130px;right:80px;margin:0;padding:5px 3px;" href="#" ng-show="actionMenuButton"><span>Ajouter un invité</span></a>
    <a style="position:fixed;bottom:105px;right:90px;margin:0;padding:5px 3px;" href="#" ng-show="actionMenuButton"><span>Importer une liste</span></a>
    <a style="position:fixed;bottom:80px;right:115px;margin:0;padding:5px 3px;" href="#" ng-show="actionMenuButton"><span>Imprimer la liste</span></a>
    <a style="position:fixed;bottom:55px;right:90px;margin:0;padding:5px 3px;" href="#" ng-show="actionMenuButton"><span>Faire une annonce</span></a>
    <a style="position:fixed;bottom:30px;right:50px;margin:0;padding:5px 3px;" href="#" ng-show="actionMenuButton"><span>Supprimer l'évènement</span></a>

    <footer>
      <div class="container">
        <div class="row" style="background-color: rgba(0, 0, 0, 1);padding-top:45px;padding-bottom:45px;">
          <div class="col-sm-1"></div>
          <div class="col-sm-2">
            <p class="font_8 color_11" style="line-height:1.5em;letter-spacing:0.05em;">
              500 Terry François <br> San Francisco <br> CA 94158
            </p>
          </div>
          <div class="col-sm-2" style="border-left: 1px solid rgba(255, 255, 255, 1);height: 100%;">
            <p class="font_8 color_11" style="line-height:1.5em;letter-spacing:0.05em;">
              Tel: 123-456-7890 <br> Fax: 123-456-7890 <br> <a href="mailto:info@mysite.com">info@mysite.com</a>
            </p>
          </div>
          <div class="col-sm-3" style="border-left: 1px solid rgba(255, 255, 255, 1);height: 100%;">
            <p class="font_8 color_11" style="line-height:1.5em;letter-spacing:0.05em;">
              <span style="letter-spacing:0em;">© 2023 by Twilight Events.</span><br>
              <span style="letter-spacing:0.05em;">Proudly created with</span><br>
              <span style="text-decoration:underline;">
                <a href="http://wix.com/?utm_campaign=vir_created_with" target="_blank">Wix.com</a>
              </span>
            </p>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-2">
            <ul aria-label="Social bar" id="comp-iyk8vzqsitemsContainer" class="lb1itemsContainer">
              <li style="width:20px;height:20px;margin-bottom:0;margin-right:10px;display:inline-block"
                  class="lb1imageItem" id="comp-iyk8vzqs0image">
                <a href="https://twitter.com/wix" target="_blank" data-content="https://twitter.com/wix"
                   data-type="external" rel="nofollow" id="comp-iyk8vzqs0imagelink" class="lb1imageItemlink">
                  <div data-image-info="{&quot;imageData&quot;:{&quot;link&quot;:{&quot;type&quot;:&quot;ExternalLink&quot;,&quot;id&quot;:&quot;dataItem-iyk8vzro2&quot;,&quot;metaData&quot;:{&quot;isPreset&quot;:true,&quot;schemaVersion&quot;:&quot;1.0&quot;,&quot;isHidden&quot;:false},&quot;url&quot;:&quot;https://twitter.com/wix&quot;,&quot;target&quot;:&quot;_blank&quot;},&quot;type&quot;:&quot;Image&quot;,&quot;id&quot;:&quot;dataItem-iyk8vzro1&quot;,&quot;metaData&quot;:{&quot;isPreset&quot;:true,&quot;schemaVersion&quot;:&quot;2.0&quot;,&quot;isHidden&quot;:false},&quot;title&quot;:&quot;White Twitter Icon&quot;,&quot;uri&quot;:&quot;01ab6619093f45388d66736ec22e5885.png&quot;,&quot;width&quot;:200,&quot;height&quot;:200,&quot;alt&quot;:&quot;White Twitter Icon&quot;},&quot;displayMode&quot;:&quot;fill&quot;}"
                       style="position: absolute; width: 20px; height: 20px;" data-style="position:absolute" class="lb1imageItemimage" id="comp-iyk8vzqs0imageimage">
                    <img id="comp-iyk8vzqs0imageimageimage" alt="White Twitter Icon" data-type="image" style="width: 20px; height: 20px; object-fit: cover;"
                         src="https://static.wixstatic.com/media/01ab6619093f45388d66736ec22e5885.png/v1/fill/w_25,h_25,al_c,q_80,usm_0.66_1.00_0.01/01ab6619093f45388d66736ec22e5885.webp"></div>
                </a>
              </li>
              <li style="width:20px;height:20px;margin-bottom:0;margin-right:10px;display:inline-block" class="lb1imageItem" id="comp-iyk8vzqs1image">
                <a href="http://www.facebook.com/wix" target="_blank" data-content="http://www.facebook.com/wix"
                   data-type="external" rel="nofollow" id="comp-iyk8vzqs1imagelink" class="lb1imageItemlink">
                  <div data-image-info="{&quot;imageData&quot;:{&quot;link&quot;:{&quot;type&quot;:&quot;ExternalLink&quot;,&quot;id&quot;:&quot;dataItem-iyk8vzrr1&quot;,&quot;metaData&quot;:{&quot;isPreset&quot;:true,&quot;schemaVersion&quot;:&quot;1.0&quot;,&quot;isHidden&quot;:false},&quot;url&quot;:&quot;http://www.facebook.com/wix&quot;,&quot;target&quot;:&quot;_blank&quot;},&quot;type&quot;:&quot;Image&quot;,&quot;id&quot;:&quot;dataItem-iyk8vzrr&quot;,&quot;metaData&quot;:{&quot;isPreset&quot;:true,&quot;schemaVersion&quot;:&quot;2.0&quot;,&quot;isHidden&quot;:false},&quot;title&quot;:&quot;White Facebook Icon&quot;,&quot;uri&quot;:&quot;23fd2a2be53141ed810f4d3dcdcd01fa.png&quot;,&quot;description&quot;:&quot;&quot;,&quot;width&quot;:200,&quot;height&quot;:200,&quot;alt&quot;:&quot;White Facebook Icon&quot;},&quot;displayMode&quot;:&quot;fill&quot;}"
                       style="position: absolute; width: 20px; height: 20px;" data-style="position:absolute"
                       class="lb1imageItemimage" id="comp-iyk8vzqs1imageimage">
                    <img id="comp-iyk8vzqs1imageimageimage" alt="White Facebook Icon" data-type="image"
                         style="width: 20px; height: 20px; object-fit: cover;"
                         src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_25,h_25,al_c,q_80,usm_0.66_1.00_0.01/23fd2a2be53141ed810f4d3dcdcd01fa.webp">
                  </div>
                </a>
              </li>
              <li style="width:20px;height:20px;margin-bottom:0;margin-right:10px;display:inline-block" class="lb1imageItem"
                  id="comp-iyk8vzqs2image">
                <a href="https://www.pinterest.com/wixcom/" target="_blank" data-content="https://www.pinterest.com/wixcom/"
                   data-type="external" rel="nofollow" id="comp-iyk8vzqs2imagelink" class="lb1imageItemlink">
                  <div data-image-info="{&quot;imageData&quot;:{&quot;link&quot;:{&quot;type&quot;:&quot;ExternalLink&quot;,&quot;id&quot;:&quot;dataItem-iyk8vzrr3&quot;,&quot;metaData&quot;:{&quot;isPreset&quot;:true,&quot;schemaVersion&quot;:&quot;1.0&quot;,&quot;isHidden&quot;:false},&quot;url&quot;:&quot;https://www.pinterest.com/wixcom/&quot;,&quot;target&quot;:&quot;_blank&quot;},&quot;type&quot;:&quot;Image&quot;,&quot;id&quot;:&quot;dataItem-iyk8vzrr2&quot;,&quot;metaData&quot;:{&quot;isPreset&quot;:true,&quot;schemaVersion&quot;:&quot;1.0&quot;,&quot;isHidden&quot;:false},&quot;title&quot;:&quot;White Pinterest Icon&quot;,&quot;uri&quot;:&quot;9c486556465843c5850fabfd68dfae49.png&quot;,&quot;description&quot;:&quot;&quot;,&quot;width&quot;:200,&quot;height&quot;:200,&quot;alt&quot;:&quot;White Pinterest Icon&quot;},&quot;displayMode&quot;:&quot;fill&quot;}"
                       style="position: absolute; width: 20px; height: 20px;" data-style="position:absolute"
                       class="lb1imageItemimage" id="comp-iyk8vzqs2imageimage">
                    <img id="comp-iyk8vzqs2imageimageimage" alt="White Pinterest Icon" data-type="image"
                         style="width: 20px; height: 20px; object-fit: cover;"
                         src="https://static.wixstatic.com/media/9c486556465843c5850fabfd68dfae49.png/v1/fill/w_25,h_25,al_c,q_80,usm_0.66_1.00_0.01/9c486556465843c5850fabfd68dfae49.webp">
                  </div>
                </a>
              </li>
              <li style="width:20px;height:20px;margin-bottom:0;margin-right:10px;display:inline-block" class="lb1imageItem"
                  id="comp-iyk8vzqs3image">
                <a href="https://instagram.com/wix/" target="_blank" data-content="https://instagram.com/wix/"
                   data-type="external" rel="nofollow" id="comp-iyk8vzqs3imagelink" class="lb1imageItemlink">
                  <div data-image-info="{&quot;imageData&quot;:{&quot;link&quot;:{&quot;type&quot;:&quot;ExternalLink&quot;,&quot;id&quot;:&quot;dataItem-iyk8vzrr5&quot;,&quot;metaData&quot;:{&quot;isPreset&quot;:true,&quot;schemaVersion&quot;:&quot;1.0&quot;,&quot;isHidden&quot;:false},&quot;url&quot;:&quot;https://instagram.com/wix/&quot;,&quot;target&quot;:&quot;_blank&quot;},&quot;type&quot;:&quot;Image&quot;,&quot;id&quot;:&quot;dataItem-iyk8vzrr4&quot;,&quot;metaData&quot;:{&quot;isPreset&quot;:true,&quot;schemaVersion&quot;:&quot;1.0&quot;,&quot;isHidden&quot;:false},&quot;title&quot;:&quot;White Instagram Icon&quot;,&quot;uri&quot;:&quot;81af6121f84c41a5b4391d7d37fce12a.png&quot;,&quot;description&quot;:&quot;&quot;,&quot;width&quot;:200,&quot;height&quot;:200,&quot;alt&quot;:&quot;White Instagram Icon&quot;},&quot;displayMode&quot;:&quot;fill&quot;}"
                       style="position: absolute; width: 20px; height: 20px;" data-style="position:absolute"
                       class="lb1imageItemimage" id="comp-iyk8vzqs3imageimage">
                    <img id="comp-iyk8vzqs3imageimageimage" alt="White Instagram Icon" data-type="image" style="width: 20px; height: 20px; object-fit: cover;"
                         src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_25,h_25,al_c,q_80,usm_0.66_1.00_0.01/81af6121f84c41a5b4391d7d37fce12a.webp">
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <!-- <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script> -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/js-xlsx/dist/xlsx.full.min.js"></script>
    <script src="bower_components/file-saver/dist/FileSaver.min.js"></script>

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBivhEaLebOwZmguQz7RCfSWPYZP0wJ2Ak&signed_in=true&callback=initMap"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>

    <script src="scripts/services/sessionService.js"></script>
    <script src="scripts/services/authService.js"></script>
    <script src="scripts/services/ajaxService.js"></script>

    <script src="scripts/filters/myspace_filters.js"></script>
    <script src="scripts/filters/home_filters.js"></script>

    <script src="scripts/directives/login.js"></script>
    <script src="scripts/directives/godiagram.js"></script>

    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/infoPopup.js"></script>
    <script src="scripts/controllers/newGuestPopup.js"></script>
    <script src="scripts/controllers/aboutus.js"></script>
    <script src="scripts/controllers/contactus.js"></script>
    <script src="scripts/controllers/ourservices.js"></script>
    <script src="scripts/controllers/howitwork.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/myspace.js"></script>
     <script src="scripts/controllers/profil.js"></script>
    <!-- endbuild -->

    <script>
      $(function(){
        $('ul.navbar-nav li').click(function(e) {
          if(this.getAttribute('id')!=='guestsTab' && this.getAttribute('id')!=='mapTab'
           && this.getAttribute('id')!=='userName' && this.getAttribute('id')!=='userMenu') {
            $('.navbar li.active').removeClass('active');
            var $this = $(this);
            if (!$this.hasClass('active')) {
                $this.addClass('active');
            }
          }
        });
      });
    </script>
</body>
</html>
