<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/mySpace">Home</a></li>
      </ul>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="/services">Nos offres et services</a></li>
        <li routerLinkActive="active"><a routerLink="/howItWorks">Comment ça marche</a></li>
<!--        <li routerLinkActive="active"><a>{{ pseudo }}Menu</a></li>-->
        <li routerLinkActive="active" *ngIf="isLoggedIn()"><a (click)="signOut()">Déconnexion</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
