<div id="aboutus">
  <h2><span>></span> À propos de nous</h2>
  <div>
    <h3><span>Vision et ambitions</span></h3>
    <p>
      Inter has ruinarum varietates a Nisibi quam tuebatur accitus Vrsicinus,
      cui nos obsecuturos iunxerat imperiale praeceptum, dispicere litis exitialis certamina cogebatur abnuens et reclamans,
      adulatorum oblatrantibus turmis, bellicosus sane milesque semper et militum ductor sed forensibus iurgiis longe discretus,
      qui metu sui discriminis anxius cum accusatores quaesitoresque subditivos sibi consociatos ex isdem foveis cerneret emergentes,
      quae clam palamve agitabantur, occultis Constantium litteris edocebat inplorans subsidia, quorum metu tumor notissimus Caesaris exhalaret.
    </p>
  </div>
  <div>
    <h3><span>Information sur l’entreprise</span></h3>
    <div>
      <ul>
        <li>
          <h4>L'équipe</h4>
          <div><img src="../images/team.png" alt=""></div>
        </li>
        <li>
          <h4>La localisation</h4>
          <div class="row">
            <div class="col-md-3">
              nnnn, nnd BP 567 Douala, <br>Cameroun
            </div>
            <div class="col-md-9">
              <div id="map" class="map"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <h3><span>Suivez les dernières actualités</span></h3>
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li>
            <h4>Espace presse</h4>
            <div class="row">
              <div class="col-md-2">
                Image
              </div>
              <div class="col-md-10">
                Inter has ruinarum varietates
                a Nisibi quam tuebatur accitus Vrsicinus, cui nos ….
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                Image
              </div>
              <div class="col-md-10">
                Inter has ruinarum varietates
                a Nisibi quam tuebatur accitus Vrsicinus, cui nos ….
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul>
          <li>
            <h4>Annonces</h4>
            <div>
              Inter has ruinarum varietates a Nisibi quam tuebatur accitus Vrsicinus,
              cui nos obsecuturos iunxerat imperiale praeceptum,
              dispicere litis exitialis certamina cogebatur abnuens et reclamans, adulatorum.
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <ul>
        <li>
          <h4>Les derniers évènements</h4>
          <div>
            Inter has ruinarum varietates a Nisibi quam tuebatur accitus Vrsicinus, cui nos obsecuturos iunxerat imperiale praeceptum,
            dispicere litis exitialis certamina cogebatur abnuens et reclamans, adulatorum.
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
