<div id="howitwork" class="menuTab">
  <!--<h2><span>Présentez</span> votre salle sous son meilleur jour</h2>-->
	<div>
    <a ng-href="#!/ourServices"><h2><span>> Consulter</span> nos offres</h2></a>
		<div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
          <div>
            <a ng-href="#!/ourServices"><img src="../images/ourServices1.png" alt="Our services"></a>
            <div class="caption">
              <p>Parce que vous souhaitez un accompagnement professionnel</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <div>
            <a ng-href="#!/ourServices"><img src="../images/ourServices2.png" alt="Our services"></a>
            <div class="caption">
              <p>Parce que vos invités sont le plus important</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <div>
            <a ng-href="#!/ourServices"><img src="../images/ourServices3.png" alt="Our services"></a>
            <div class="caption">
              <p>Parce que votre temps est précieux</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <div>
            <a ng-href="#!/ourServices"><img src="../images/ourServices4.png" alt="Our services"></a>
            <div class="caption">
              <p>Parce que votre notoriété est essentielle</p>
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>

  <div>
    <h2><span>> Planifiez</span> votre évènement dès aujourd'hui</h2>
    <div class="row">
      <div class="col-md-2">
        <img src="../images/howItWorks1.png" alt="How it works">
      </div>
      <div class="col-md-10">
        <h4>1. Créez votre évènement</h4>
        <p>
          Planifiez la date et le lieu de votre évènement facilement depuis notre site.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <img src="../images/howItWorks2.png" alt="How it works">
      </div>
      <div class="col-md-10">
        <h4>2. Organisez votre évènement</h4>
        <p>
          Depuis votre espace privé, gérez votre liste d'invités et votre plan de table.
          Envoyez des messages groupés avec les dernières actualités.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <img src="../images/howItWorks3.png" alt="How it works">
      </div>
      <div class="col-md-10">
        <h4>3. Profitez. Accueillez vos invités</h4>
        <p>
          Grace à notre technologie des lampes connectées, et à notre service d'accueil,
          vos invités sont pris en charge dès leur arrivée. Vous n'avez plus qu'à profiter de votre soirée.
        </p>
      </div>
    </div>
  </div>
</div>
