<div class="container">

	<iframe src="./sink.html" name="sink" style="display:none"></iframe>

  <form name="loginForm" class="css-form form-signin form-signin-login" action="sink.html" method="post" target="sink"
        ng-submit="submitLogin(credentials)" novalidate>
    <label>Connectez vous</label>
    <input type="email" name="email" class="form-control" placeholder="Email" ng-model="credentials.email" required>
		<input type="password" name="password" class="form-control" placeholder="Mot de passe" ng-model="credentials.password" required>
    <button class="btn btn-large btn-primary" style="" ng-disabled="loginForm.$invalid">Connexion</button>
    <div><a>Mot de passe oublié</a> ou <a>Identifiant oublié</a></div>
    <div>Vous n'avez pas de compte!&nbsp;<a href="#!/subscribe">Inscrivez vous</a></div>
	</form>

  <!--<div>
    <p><b>À propos de la connexion</b></p>
    <p>
      Eventys utilise les informations de votre compte Eventys pour vous identifier et vous accorder l'accès aux services Eventys.
      Votre utilisation de ce site est soumise à nos conditions d'utilisation et à notre politique de confidentialité, accessibles via les liens ci-dessous.
      Votre utilisation des produits et services Eventys doit respecter le contrat client Eventys accessible via le lien ci-dessous.
    </p>
  </div>-->
</div>
