<div id="myspace">
  <h2><span>></span> Mes évènements</h2>
  <div>
    <div>
      <h3><span>Ajouter un évènement</span></h3>
      <form name="addEventForm" class="css-form" novalidate ng-show="!isRoomManager">
        <div class="row">
          <div class="form-group col-xs-4">
            <input name="id" class="form-control" placeholder="Code de l'évènement" ng-model="event._id" required>
          </div>
          <div class="form-group col-xs-1">
            <button class="btn btn-large btn-primary" ng-disabled="addEventForm.$invalid" ng-click="addEvent(event)">Ajouter</button>
          </div>
        </div>
      </form>
    </div>
    <br>

    <div>
      <button class="btn btn-large btn-primary" ng-click="sendMail()" ng-show="false">Send mail</button>
      <ul class="nav nav-tabs" id="myTabs">
        <li class="active">
          <a href="#events" ng-click="eventState=EVENTSTATES.ALL" data-toggle="tab">Tous</a>
        </li>
          <li>
            <a href="#events" ng-click="eventState=EVENTSTATES.INPROGRESS" data-toggle="tab">En cours</a>
          </li>
          <li>
            <a href="#events" ng-click="eventState=EVENTSTATES.DONE" data-toggle="tab">Terminés</a>
          </li>
          <li ng-show="isRoomManager">
            <a href="#eventCreation" data-toggle="tab">Créer un événement</a>
          </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div id="events" class="tab-pane fade in active">
          <br>
          <div class="row">
            <div class="form-group col-xs-3">
              <input class="form-control" ng-model="searchedEvt" placeholder="Rechercher dans la liste"/>
            </div>
          </div>
          <div class="row eventBlock" ng-repeat="event in events | orderBy:['name','where','startDate',guestNumber] | searchedEvtFilter:searchedEvt:eventState:EVENTSTATES">
            <div class="col-md-2">
              <img src="../images/appli.png" alt="">
            </div>
            <div class="col-md-5">
              <span>{{event.name}}</span><br>
              {{event.startDate | date : "dd/MM/yyyy"}}<br>
              {{event.guestNumber}}<br>
              4 000 000 fcfa
            </div>
            <div class="col-md-2">
              {{event.where}}<br>
              Douala, Cameroun
            </div>
            <div class="col-md-3">
              image
            </div>
          </div>

        </div>

        <div class="tab-pane fade" id="eventCreation">
          <br>
          <form name="createEventForm" class="css-form form-signin-myspace" novalidate ng-show="isRoomManager">
            <div class="row">
              <div class="form-group col-xs-3">
                <input name="name" class="form-control" placeholder="Nom événement" ng-model="newEvent.name" required>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-3">
                <select name="room" class="form-control" ng-model="newEvent.where" ng-options="room._id as room.name for room in rooms"></select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-3">
                <p class="input-group">
                  <input class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="newEvent.startDate" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-2">
                <input type="number" min="0" name=guestNumber class="form-control" placeholder="Nb d'invités" ng-model="newEvent.guestNumber" required>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-3">
                <input type="email" min="0" name=bookerEmail class="form-control" placeholder="Email du réserveur" ng-model="newEvent.bookerEmail" required>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-1">
                <button class="btn btn-large btn-primary" ng-disabled="createEventForm.$invalid" ng-click="createEvent(newEvent)">Créer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
