<div class="modal fade" id="newGuestPopup" tabindex="-1" role="dialog" aria-labelledby="newGuestPopupLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newGuestPopupLabel">Ajout d'un nouvel invité</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="guestForm" class="css-form form-signin" novalidate>
          <select name="title" class="form-control" placeholder="Sexe" ng-model="newGuest.title" ng-options="title._id as title.label for title in titles" required/>
          <input name="fisrtName" class="form-control" placeholder="Prénom" ng-model="newGuest.firstName" required>
          <input name="name" class="form-control" placeholder="Nom" ng-model="newGuest.name" required>
          <input name="address" class="form-control" placeholder="Adresse" ng-model="newGuest.address" required>
          <input name="phoneNumber" class="form-control" placeholder="Téléphone" ng-model="newGuest.phoneNumber" required>
          <input type="email" name="email" class="form-control" placeholder="Email" ng-model="newGuest.email" required>
          <input name="comment" class="form-control" placeholder="Commentaire" ng-model="newGuest.comment" required>

          <button class="btn btn-large btn-primary" ng-disabled="subscriptionForm.$invalid" ng-click="addGuest(newGuest)">Ajouter</button>
          <button class="btn btn-large btn-primary" ng-disabled="subscriptionForm.$invalid" ng-click="close()">Annuler</button>
        </form>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary" ng-click="ok()">OK</button>-->
      </div>
    </div>
  </div>
</div>
