<div id="ourservices" class="menuTab">
  <h2><span>></span> Nos offres et services</h2>
  <div class="row">
    <div class="col-md-3">
      <img src="../images/appli.png" alt="">
    </div>
    <div class="col-md-9">
      <h3>Site web / Application</h3>
      <p>
        Le site web et l'application smartphone <span>Eventys</span> permettent à vos clients de gérer la liste des invités
        et l'organisation de la salle d'évènement à tout instant et en mobilité.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <h3>Tablettes</h3>
      <p>
        Les tablettes affichent visuellement l'organisation de la salle et permettent pas une simple recherche sur le nom
        de trouver sa table. La tablette est à disposition du personnel d'accueil.
      </p>
    </div>
    <div class="col-md-3">
      <img src="../images/tablettes.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="../images/ecransTactiles.png" alt="">
    </div>
    <div class="col-md-9">
      <h3>Écrans tactiles interactifs</h3>
      <p>
        Les grands écrans de 42" affichent visuellement l'organistion de la salle et permettent par une simple
        recherche de nom de trouver la table et l'invité.<br>
        Il s'agit de la solution privilégiée pour ceux qui ne souhaitent pas avoir de service d'accueil.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <h3>Service d'accueil</h3>
      <p>
        Faciliter l'installation de vos invités. Être à leur écoute et aux petits soins pour eux.<br>
        <span>Eventys</span> met à votre disposition un servuce d'accueil sur mesure pour vos évènements.
      </p>
    </div>
    <div class="col-md-3">
      <img src="../images/serviceAccueil.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="../images/digilampes.png" alt="">
    </div>
    <div class="col-md-9">
      <h3>Digilampes</h3>
      <p>
        Ces lampes connectées sont de différentes formes (Vases, lampes, objet de déco etc..) permettent aux invités
        d’identifier facilement leur table lors de grande cérémonie de plusieurs centaines d’invités.<br>
        Ils s’activent à la suite de la recherche de nom sur le totem ou la tablette.
      </p>
    </div>
  </div>
</div>
