<div id="ourservices" class="inlineContent-gridContainer">
  <div class="comp-space-medium"></div>
  <div class="txtNew comp-space-large" style="pointer-events: none;">
    <h2 class="font_2 block-title">
      NOS OFFRES ET SERVICES
    </h2>
  </div>
  <div class="comp-space-medium" id="sites"></div>
  <section data-responsive="true" class="strc1" style="left: 0px; width: 100%; min-width: 820px; height: auto; margin-left: 0px;">
    <div class="strc1inlineContent" style="position: relative; width: calc(100% - 160px); min-width: 980px;">
      <div class="strc1" style="position: relative; width: 100%; flex: 441 1 0%; min-width: 441px; display: flex;">
        <img src="https://static.wixstatic.com/media/ccd4a9_22788386fc5d4c4886788cccfc9999f6~mv2.png/v1/crop/x_0,y_0,w_583,h_347,q_80/ccd4a9_22788386fc5d4c4886788cccfc9999f6~mv2.webp"
             style="width: 627px; height: 469px; position: absolute; top: auto; right: auto; bottom: auto; left: auto; object-fit: none;">
      </div>
      <div class="strc1" style="position: relative; width: 100%; flex: 459 1 0%; margin-left: 80px; min-width: 459px; display: flex;">
        <div style="position: absolute; width: 100%; height: 100%; overflow: hidden; pointer-events: auto; background-color: rgb(251, 251, 251);"></div>
        <div class="comp-inlineContent comp-inlineContent-gridWrapper">
          <div class="comp-inlineContent-gridContainer" style="min-height: 469px;">
            <div class="txtNew comp-plan-right-line1"
                 style="width: 458px; pointer-events: none; margin: 87px 0px 10px calc((100% - 459px) * 0.5); left: 0px;">
              <h6 class="font_6 color_18" style="text-align:center; line-height:2em; font-family:eb garamond,serif; letter-spacing:0.43em;">
                Site Web / Application
              </h6>
            </div>
            <div class="txtNew comp-desc"
                 style="width: 421px; min-height: 114px; pointer-events: none; margin: 0px 0px 10px calc((100% - 459px) * 0.5); left: 20px;">
              <p class="font_8" style="line-height:1.8em; text-align:center; color:#000000; letter-spacing:0.09em;">
                Le site web et l'application smartphone&nbsp;Eventys&nbsp;permettent à vos clients de gérer la liste des invités
                et l'organisation de la salle d’événement&nbsp;à tout instant et en mobilité.
              </p>
            </div>
            <div class="comp-inlineContent-wedge-3"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="comp-space-medium" id="tablets"></div>
  <section data-responsive="true" class="strc1" style="width: 100%; min-width: 820px; height: auto;">
    <div class="strc1inlineContent" style="position: relative; width: calc(100% - 160px); min-width: 980px;">
      <div class="strc1" style="position:relative;width:100%;flex:603;min-width:603px;display:flex;">
        <div style="position: absolute; width: 100%; height: 100%; overflow: hidden; pointer-events: auto; background-color: rgb(251, 251, 251);"></div>
        <div style="width:100%;position:relative;top:0;bottom:0" class="comp-inlineContent strc1inlineContent">
          <div class="comp-inlineContent-gridWrapper comp-inlineContent-gridContainer" style="min-height: 489px; grid-template-rows: 1fr;">
            <div style="margin: 86px 0px 10px calc((100% - 603px) * 0.5); left: 32px;" class="comp-plan-right-line1">
              <div style="pointer-events: none; width: 387px; margin: 0px 0px 64px 0; left: 75px;" class="txtNew comp-plan-right-line1">
                <h6 class="font_6 color_18" style="text-align:center; line-height:2em; letter-spacing:0.1em; font-family:eb garamond,serif;">
                  Tablettes
                </h6>
              </div>
              <div style="pointer-events: none; width: 538px; margin: 0px 0px 0px 0; left: 0px;" class="txtNew comp-plan-right-line2">
                <p class="font_8" style="line-height:1.8em; text-align:center; color:#000000; letter-spacing:0.09em;">
                  Les tablettes affichent visuellement l'organisation de la salle
                  et permettent pas une simple recherche sur le nom de trouver sa table. La tablette est à disposition du personnel d'accueil.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="position:relative;width:100%;flex:297;margin-left:80px;min-width:297px;height:;display:flex;bottom:;right:" class="strc1">
        <div style="position: absolute; width: 100%; height: 100%; overflow: hidden; pointer-events: auto; min-width: 297px; min-height: 489px;">
          <div style="min-height: 489px; min-width: 297px; pointer-events: auto; width: 422px; height: 489px; position: absolute;">
            <div style="position: relative; width: 422px; height: 489px;">
              <img style="object-position: 50% 50%; width: 422px; height: 489px; object-fit: cover;"
                   src="https://static.wixstatic.com/media/ccd4a9_7cac2067fb8444ef986520e5d70709b4~mv2.png/v1/fill/w_216,h_251,al_c,lg_1,q_80/ccd4a9_7cac2067fb8444ef986520e5d70709b4~mv2.webp">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="comp-space-medium" id="screens"></div>
  <section data-responsive="true" class="strc1" style="left: 0px; width: 100%; min-width: 820px; height: auto; margin-left: 0px;">
    <div class="strc1inlineContent" style="position: relative; width: calc(100% - 160px); min-width: 980px;">
      <div class="strc1" style="position: relative; width: 100%; flex: 441 1 0%; min-width: 441px; display: flex;">
        <img src="https://static.wixstatic.com/media/ccd4a9_729b38f641c846bc866110704e3b96b0~mv2.png/v1/crop/x_0,y_0,w_163,h_309,q_80/ccd4a9_729b38f641c846bc866110704e3b96b0~mv2.webp"
             style="width: 627px; height: 469px; position: absolute; top: auto; right: auto; bottom: auto; left: auto; object-fit: none;">
      </div>
      <div class="strc1" style="position: relative; width: 100%; flex: 459 1 0%; margin-left: 80px; min-width: 459px; display: flex;">
        <div style="position: absolute; width: 100%; height: 100%; overflow: hidden; pointer-events: auto; background-color: rgb(251, 251, 251);"></div>
        <div class="comp-inlineContent comp-inlineContent-gridWrapper">
          <div class="comp-inlineContent-gridContainer" style="min-height: 469px;">
            <div class="txtNew comp-plan-right-line1"
                 style="width: 458px; margin: 87px 0px 10px calc((100% - 459px) * 0.5); left: 0px;">
              <h6 class="font_6 color_18"
                  style="pointer-events: none; text-align:center; line-height:2em; font-family:eb garamond,serif; letter-spacing:0.43em;">
                Ecrans tactiles interactifs
              </h6>
            </div>
            <div class="txtNew comp-desc"
                 style="pointer-events: none; width: 421px; min-height: 114px; pointer-events: none; margin: 0px 0px 10px calc((100% - 459px) * 0.5); left: 20px;">
              <p class="font_8" style="line-height:1.8em; text-align:center; color:#000000; letter-spacing:0.09em;">
                Les grands écrans de 42" affichent visuellement le plan de la salle et permettent par une simple recherche de nom de trouver la table et l'invité.
                <br><br>Il s'agit de la solution privilégiée pour ceux qui ne souhaitent pas avoir de service d'accueil.
              </p>
            </div>
            <div class="comp-inlineContent-wedge-3"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="comp-space-medium" id="service"></div>
  <section data-responsive="true" class="strc1" style="width: 100%; min-width: 820px; height: auto;">
    <div class="strc1inlineContent" style="position: relative; width: calc(100% - 160px); min-width: 980px;">
      <div class="strc1" style="position:relative;width:100%;flex:603;min-width:603px;display:flex;">
        <div style="position: absolute; width: 100%; height: 100%; overflow: hidden; pointer-events: auto; background-color: rgb(251, 251, 251);"></div>
        <div style="width:100%;position:relative;top:0;bottom:0" class="comp-inlineContent strc1inlineContent">
          <div class="comp-inlineContent-gridWrapper comp-inlineContent-gridContainer" style="min-height: 489px; grid-template-rows: 1fr;">
            <div style="margin: 86px 0px 10px calc((100% - 603px) * 0.5); left: 32px;" class="comp-plan-right-line1">
              <div style="pointer-events: none; width: 387px; margin: 0px 0px 64px 0; left: 75px;" class="txtNew comp-plan-right-line1">
                <h6 class="font_6 color_18" style="text-align:center; line-height:2em; letter-spacing:0.1em; font-family:eb garamond,serif;">
                  Service d'accueil
                </h6>
              </div>
              <div style="pointer-events: none; width: 538px; margin: 0px 0px 0px 0; left: 0px;" class="txtNew comp-plan-right-line2">
                <p class="font_8" style="line-height:1.8em; text-align:center; color:#000000; letter-spacing:0.09em;">
                  uaiehuoa hqmjqmdc dicjqmdcqmdjcqldcmqchslcjmcjqmsh, sdqcsdijsdsdisd.
                  <br><br>qsldhqsdmfhsdlhjlsd, dqdmsjdmqid,cdnld, dmqdjqmsd dmjqlsd mdsjqsdlnm dmjqdqsmdjsdl, smdjqsdmn qmdjqmsdmqd.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="position:relative;width:100%;flex:297;margin-left:80px;min-width:297px;height:;display:flex;bottom:;right:" class="strc1">
        <div style="position: absolute; width: 100%; height: 100%; overflow: hidden; pointer-events: auto; min-width: 297px; min-height: 489px;">
          <div style="min-height: 489px; min-width: 297px; pointer-events: auto; width: 422px; height: 489px; position: absolute;">
            <div style="position: relative; width: 422px; height: 489px;">
              <img style="object-position: 50% 50%; width: 422px; height: 489px; object-fit: cover;"
                   src="https://static.wixstatic.com/media/ccd4a9_7c95ec7fca5c44c0a68a38d304cdd6a3~mv2.png/v1/fill/w_656,h_611,al_r,q_85,usm_0.66_1.00_0.01/ccd4a9_7c95ec7fca5c44c0a68a38d304cdd6a3~mv2.webp">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="comp-space-medium" id="shiny"></div>
  <section data-responsive="true" class="strc1" style="left: 0px; width: 100%; min-width: 820px; height: auto; margin-left: 0px;">
    <div class="strc1inlineContent" style="position: relative; width: calc(100% - 160px); min-width: 980px;">
      <div style="position:relative;width:100%;flex:423;min-width:423px;display:flex;" class="strc1">
        <div style="position: absolute; width: 100%; height: 100%; overflow: hidden; pointer-events: auto; min-width: 423px; min-height: 469px;">
          <div style="position: relative; width: 602px; height: 469px;">
            <img style="object-position: 0% 50%; width: 602px; height: 469px; object-fit: cover;"
                 src="https://static.wixstatic.com/media/ccd4a9_4e5c817e5c13484da768326c707c018c~mv2.png/v1/fill/w_524,h_408,al_l,lg_1,q_80/ccd4a9_4e5c817e5c13484da768326c707c018c~mv2.webp">
          </div>
        </div>
      </div>
      <div class="strc1" style="position: relative; width: 100%; flex: 459 1 0%; margin-left: 80px; min-width: 459px; display: flex;">
        <div style="position: absolute; width: 100%; height: 100%; overflow: hidden; pointer-events: auto; background-color: rgb(251, 251, 251);"></div>
        <div class="comp-inlineContent comp-inlineContent-gridWrapper">
          <div class="comp-inlineContent-gridContainer" style="min-height: 469px;">
            <div class="txtNew comp-plan-right-line1"
                 style="width: 458px; margin: 87px 0px 10px calc((100% - 459px) * 0.5); left: 0px;">
              <h6 class="font_6 color_18"
                  style="pointer-events: none; text-align:center; line-height:2em; font-family:eb garamond,serif; letter-spacing:0.43em;">
                Digilampes
              </h6>
            </div>
            <div class="txtNew comp-desc"
                 style="pointer-events: none; width: 421px; min-height: 114px; pointer-events: none; margin: 0px 0px 10px calc((100% - 459px) * 0.5); left: 20px;">
              <p class="font_8" style="line-height:1.8em; text-align:center; color:#000000; letter-spacing:0.09em;">
                Ces lampes connectées en forme de vase, de lampes ou encore d'objets décoratifs permettent aux invités d’identifier facilement leur table
                lors de grandes cérémonies de plusieurs centaines d’invités.
                <br><br>Les digilampes s’activent à la suite de la recherche de nom sur le totem ou la tablette.
              </p>
            </div>
            <div class="comp-inlineContent-wedge-3"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="comp-space-medium"></div>

  <div class="txtNew comp-space-large" style="pointer-events: none;">
    <h2 class="font_2 block-title">
      CORPORATE EVENTS
    </h2>
  </div>
  <section style="width:100%;min-width:820px;height:auto;" data-responsive="true" class="strc1">
    <div style="position:relative;width:calc(100% - 160px);min-width:980px" class="strc1inlineContent">
      <div style="position:relative;width:100%;flex:279;min-width:279px;display:flex;" class="strc1">
        <div style="position: absolute; width: 100%; height: 100%; overflow: hidden; pointer-events: auto; background-color: rgb(251, 251, 251);"></div>
        <div style="width:100%;position:relative;" class="comp-inlineContent strc1inlineContent">
          <div class="comp-inlineContent-gridWrapper comp-inlineContent-gridContainer" style="min-height: 582px; grid-template-rows: min-content min-content 1fr;">
            <div style="width: 178px; height: 178px; margin: 86px 0px 42px calc((100% - 279px) * 0.5); left: 49px;" class="style-iv9ohef12 comp-plan-right-line1">
              <div style="width: 178px; height: 178px;" class="style-iv9ohef12link">
                <div style="top: 0px; left: 0px; position: relative; width: 178px; height: 178px;" class="style-iv9ohef12img">
                  <img style="object-position: 50% 50%; width: 178px; height: 178px; object-fit: cover;"
                       src="https://static.wixstatic.com/media/50e880b8b55047279e5b34a6188e6018.jpg/v1/fill/w_223,h_223,al_c,q_80,usm_0.66_1.00_0.01/50e880b8b55047279e5b34a6188e6018.webp">
                </div>
              </div>
            </div>
            <div style="width: 238px; pointer-events: none; margin: 0px 0px 5px calc((100% - 279px) * 0.5); left: 19px;" class="txtNew comp-plan-right-line2">
              <h6 class="font_6 color_18 letter-spacing:0.1em;" style="line-height:2em; text-align:center;">
                Conferences
              </h6>
            </div>
            <div style="width: 224px; pointer-events: none; margin: 0px 0px 10px calc((100% - 279px) * 0.5); left: 26px;" class="txtNew comp-desc">
              <p class="font_8 color_18" style="line-height:1.8em; text-align:center; letter-spacing:0.09em;">
                I'm a paragraph. Click here to add your own text and edit me.
                I’m a great place for you to tell a story and let your users know more.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div style="position:relative;width:100%;flex:279;margin-left:80px;min-width:279px;display:flex;" class="strc1">
        <div style="position: absolute; width: 100%; height: 100%; overflow: hidden; pointer-events: auto; background-color: rgb(251, 251, 251);"></div>
        <div style="width:100%;position:relative;" class="comp-inlineContent strc1inlineContent">
          <div class="comp-inlineContent-gridWrapper comp-inlineContent-gridContainer" style="min-height: 582px; grid-template-rows: min-content min-content 1fr;">
            <div style="width: 178px; height: 178px; margin: 86px 0px 42px calc((100% - 279px) * 0.5); left: 49px;" class="style-iv9ohef12 comp-plan-right-line1">
              <div style="width: 178px; height: 178px;" class="style-iv9ohef12link">
                <div style="top: 0px; left: 0px; position: relative; width: 178px; height: 178px;" class="style-iv9ohef12img">
                  <img style="object-position: 50% 50%; width: 178px; height: 178px; object-fit: cover;"
                       src="https://static.wixstatic.com/media/cedfdef6a25cbed8d633e133c04e780c.jpg/v1/fill/w_223,h_223,al_c,q_80,usm_0.66_1.00_0.01/cedfdef6a25cbed8d633e133c04e780c.webp">
                </div>
              </div>
            </div>
            <div style="width: 238px; pointer-events: none; margin: 0px 0px 5px calc((100% - 279px) * 0.5); left: 19px;" class="txtNew comp-plan-right-line2">
              <h6 class="font_6 color_18 letter-spacing:0.1em;" style="line-height:2em; text-align:center;">
                Corporate Parties
              </h6>
            </div>
            <div style="width: 224px; pointer-events: none; margin: 0px 0px 10px calc((100% - 279px) * 0.5); left: 26px;" class="txtNew comp-desc">
              <p class="font_8 color_18" style="line-height:1.8em; text-align:center; letter-spacing:0.09em;">
                I'm a paragraph. Click here to add your own text and edit me.
                I’m a great place for you to tell a story and let your users know more.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div style="position:relative;width:100%;flex:279;margin-left:80px;min-width:279px;display:flex;" class="strc1">
        <div style="position: absolute; width: 100%; height: 100%; overflow: hidden; pointer-events: auto; background-color: rgb(251, 251, 251);"></div>
        <div style="width:100%;position:relative;" class="comp-inlineContent strc1inlineContent">
          <div class="comp-inlineContent-gridWrapper comp-inlineContent-gridContainer" style="min-height: 582px; grid-template-rows: min-content min-content 1fr;">
            <div style="width: 178px; height: 178px; margin: 86px 0px 42px calc((100% - 279px) * 0.5); left: 49px;" class="style-iv9ohef12 comp-plan-right-line1">
              <div style="width: 178px; height: 178px;" class="style-iv9ohef12link">
                <div style="top: 0px; left: 0px; position: relative; width: 178px; height: 178px;" class="style-iv9ohef12img">
                  <img style="object-position: 50% 50%; width: 178px; height: 178px; object-fit: cover;"
                       src="https://static.wixstatic.com/media/0d4ac19b7ae40a05e3a9d34fd132076d.jpg/v1/fill/w_223,h_223,al_c,q_80,usm_0.66_1.00_0.01/0d4ac19b7ae40a05e3a9d34fd132076d.webp">
                </div>
              </div>
            </div>
            <div style="width: 238px; pointer-events: none; margin: 0px 0px 5px calc((100% - 279px) * 0.5); left: 19px;" class="txtNew comp-plan-right-line2">
              <h6 class="font_6 color_18 letter-spacing:0.1em;" style="line-height:2em; text-align:center;">
                Employee Fun Days
              </h6>
            </div>
            <div style="width: 224px; pointer-events: none; margin: 0px 0px 10px calc((100% - 279px) * 0.5); left: 26px;" class="txtNew comp-desc">
              <p class="font_8 color_18" style="line-height:1.8em; text-align:center; letter-spacing:0.09em;">
                I'm a paragraph. Click here to add your own text and edit me.
                I’m a great place for you to tell a story and let your users know more.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="comp-space-medium"></div>
</div>
